<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Receptka.Properties.Settings.pacjenciConnectionString" connectionString="data source=F:\programowanie\Receptka\bin\Debug\pacjenci.s3db" providerName="System.Data.SQLite"/>
	</connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
